@model SearchDeals.Models.DealItem

<a href="@Model.Url" style="font:14px">@Html.Raw(@Model.Title)</a>
   
<br />
from <a href="@Model.SourceUrl">@Html.Raw(@Model.Source)</a> - <label style="color: Green"> @Model.DisplayDate </label>
<br /><br />

 